*{
    margin: 0;
}
body {
    width: 100%;
    color: white;
    list-style: none;
    background-color: black;
}
.header {
    background-color: #1c1b2b;
}

.menu{
    color: #FFFFFF;
    overflow: hidden;
}
.rightnav {
    width: 50%;
    float: right;
    font-family: pixel;
}
.leftnav {
    margin-top: 10px;
    float: left;
}
.rightnav ul {
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}
.rightnav li {
    color: white;
    font-size: 20px;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
.sitename{ 
    color: white;
    font-size: 20px;
    font-family: pixel;
}
.headergif {
    padding-left: 0;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px;
}
/* End of NavBar */
/* Start of Body */
#body {
   
}
.buttons {
    display: flex;
    justify-content: center;
    
}
.main {
    position: relative;
}
#startbtn, #stopbtn {
    color: white;
    font-family: pixel;
    border-spacing: 25px;
}
.btnstart {
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.btnstop {
    float: right;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.activeStart {
    background-color: green;
    float: left;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.inactiveStart {
    background-color: gray;
    float: left;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.activeStop {
    background-color: #993441;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.inactiveStop {
    background-color: gray;
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}
.grid {
    margin: auto;
    border: 2px black solid;
    border-spacing: 40px;
}
.cell {
    font-family: pixel;
    color: white;
    width: 120px;
    height: 200px;
    border-radius: 20px;
    border: 2px white solid;
    text-align: center;
}
.bodytext, #randomNo {
    text-align: center;
    color: white;
    font-family: pixel;
    padding-top: 20px;
}
.grid td {
    color: white;
    text-align: center;
}
#history {
    font-size: 35px;
    color: white;
}
.main {
    text-align: center;
    margin-top: 20px;
    font-family: pixel;
    font-size: 30px;
}
#resetbtn {
    color: white;
    font-family: pixel;
    font-size: 15px;
    background-color: #993441;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    padding-bottom: 5px;
}
.history h1 {
    color: #f3ff00;
}
.highscores ol {
    margin-top: 10px;
    border: 3px #04D9FF solid;
    border-radius: 15px;
    outline: 3px #f3ff00 solid;
    outline-offset: 5px;
}
@font-face {
    font-family: pixel;
    src: url(./fonts/PublicPixel-z84yD.ttf);
}